h1, h2, h3, p, form, img {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color:white;
}

button {
    border-radius: 10px;
}

.big-button {
    font-size: 30px;
    width: 125px;
    height: 60px;
    font-weight: 600;
}

.decision-button {
    font-size: 20px;
    width: 140px;
    height: 40px;
    font-weight: 700;
}

img, .big-button, .decision-button {
    border-radius: 15px;
    transition: transform 0.25s;
}

img {
    border: 2px solid;
}

img {
    margin-top: 10px;
    margin-bottom: 10px;
}

img:hover, .big-button:hover, .decision-button:hover {
    transform: scale(1.1);
}

.hover-text {
    opacity: 0;
    transition: opacity 0.4s ease;
}

.hover-wrapper:hover .hover-text {
    opacity: 1;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#game-layout {
    margin-left: 100px;
    margin-right: 100px;
}

body {
    background-color: rgb(20, 20, 20);
}

.red {
    color: red;
}

p.limited-width {
    max-width: 600px;
    margin: 0 auto;
}