<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play</title>
    <link rel="stylesheet" href="static/styles.css" type="text/css">
</head>
<body>
    <h1>News Story #{{ story }}</h1>
    <div class="image-container">
        <h3>Score: {{ score }}</h3>
        <img id="game-layout" src="{{ image }}"><br>
        <h3>Lives: {{ lives }}/3</h3>
    </div>
    <h3>"{{ headline }}"</h3>
    <form action="check-answer" method="post">
        <button class="decision-button" type="submit" name="action" value="ai">This is AI</button>
        <button class="decision-button" type="submit" name="action" value="real">This is Real</button>
    </form>
</body>
</html>