<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[Fake] News</title>
    <link rel="stylesheet" href="static/styles.css" type="text/css">
</head>
<body>
    <h1><span class="red">[Fake] </span>News</h1><br>
    <h2>Real or not?</h2>
    <h2>With <span class="red">3</span> lives, can you use your judgment tell the difference?</h2>
    <form action="play">
        <button class="big-button" type="submit">Play</button>
    </form>
    <div>
        <h1>Examples</h1>
        <div class="image-container">
            <div class="hover-wrapper">
                <h2 class="hover-text">This is AI</h2>
                <img class="example-image" src="static/examples/ai-colorful-cave.png" width="400px">
            </div>
            <div class="hover-wrapper"> 
                <h2 class="hover-text">This is Real</h2>
                <img class="example-image" src="static/examples/real-cave.png" width="400px">
            </div>
        </div>
    </div>
</body>
</html>