<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>(Fake) News</title>
    <link rel="stylesheet" href="static/styles.css" type="text/css">
</head>
<body>
    <h1>(Fake) News</h1><br>
    <h2>Real or not?</h2>
    <h2>Can you use your judgment tell the difference within 10 seconds?</h2>
    <form action="play">
        <button type="submit">Play</button>
    </form>
    <div>
        <h1>Examples</h1>
        <div class="image-container">
            <img src="static/examples/ai-colorful-cave.png" width="400px">
            <img src="static/examples/real-cave.png" width="400px">
        </div>
    </div>
</body>
</html>